<% include ./partials/header %>

<div class = "container">
	<div class="jumbotron">
	  <h1>Take Attendance Like Never Before</h1>
	  <div class = "text-center">
		  <p>Tired of entering tutoring attendance forms in an unusual format? Tired of keeping track of absences? 
		  	Let's make that a breeze :)</p>
		  <div class = "jumbotron-icon">
		  	<i class="fas fa-chalkboard-teacher"></i>
		  </div>
		</div>
	</div>
<div>

<%include ./partials/footer %>